{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block style %}
    <style>
        .login-form {
            max-width : 700px;
        }
    </style>
    
{% endblock %}

{% block content %}

<div class="login-form" id="login-form">
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="form-floating">
            <div> 아직 회원이 아니신가요? <a href="{% url 'accounts:signup' %}"> 회원가입</a></div>
        </div>
    </form>
</div>
{% endblock %}
