{% extends "base.html" %}
{% block head %}
<title>Sign up</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<form action="">
    <span class="join-area">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" autocomplete="off" required>
    </span><br>
    <span class="join-area">
        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw" autocomplete="off" required>
    </span>
    <span class="join-area">
        <label for="cpw">Confirm Password</label>
        <input type="password" name="cpw" id="cpw" autocomplete="off" required>
    </span><br>
    <span class="join-area">
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname" autocomplete="off" required>
    </span>
    <span class="join-area">
        <label for="Phone">Phone</label>
        <input type="text" name="Phone" id="Phone" autocomplete="off" required>
    </span>
    <br>
    <span class="agree">
        베테랑 서비스 이용약관 및 개인정보 수집에 동의합니다. <input type="checkbox" value = "agree" required>
    </span>
    <br>
    <span class="btn-area2">
        <button type="submit">Create Account</button>
    </span>
</form>
{% endblock %}