<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Login</title>


</head>
<body>
<div class="imgcon2"><img src="static/img/veteran_logo.png" alt=""></div>
<div class="wrapper">
    <div class="welcome">
        <div class="wmess">
            VETERAN
        </div>
        <div class="imgcon">
            <img src="static/img/intro.jpg">
        </div>

    </div>
    <main class="form-signin">   
        
        <form action="{% url 'Account:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="box" name="username" id="floatingInput" placeholder="Email">
            </div>
            <div class="form-floating">
                <input type="password" class="box" name="password" id="floatingPassword" placeholder="Password">
            </div>
            <div class="submit">
                <input type="submit" value="submit">
            </div>
            <div class="form-floating">
                <div> 아직 회원이 아니신가요? <a href="{% url 'Account:signup' %}"> 회원가입</a></div>
            </div>
            {% if error %}
            <div class="error_block" style="display:flex; flex-direction:row; justify-content:center;">
                <div style="color: red;">{{ error }}</div>
            </div>
            {% endif %}
        </form>
    </main>
</div>
</body>

</html>